.slick-prev:before, .slick-next:before{
  color:rgb(89, 0, 255);
}

#forAnimation{
  height:100px;
  width:200px;
  position:absolute;
}

img {
  position: relative;
  /* make it center */
  margin: 0 auto;
}
